html,
body,
#mapid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.legend {
    line-height: 18px;
    color: #555;
}

.Legend-colorBox {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-color: blue;
}